<%= form_for(@space_picture) do |f| %>
  <% if @space_picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@space_picture.errors.count, "error") %> prohibited this space_picture from being saved:</h2>

      <ul>
      <% @space_picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
<div class="field">
    <%= f.label "upload your picture" %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :space_id %><br>
    <%= f.collection_select :space_id, Space.all.order("name ASC"), :id, :name, :prompt => "Select a Space" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
