<h1>Spaces</h1>

<% @page_number = 1 if @page_number < 1 %>

<%= link_to "Prev", "/spaces?page=#{@page_number - 1 }" %>
<%= link_to "Next", "/spaces?page=#{@page_number + 1 }" %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th><%= link_to "Category", spaces_url(:sort => @sort_direction) %></th>
      <th>Size</th>
      <th>Home</th>
      <th>Votes</th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <% @spaces.each do |space| %>
      <tr>
        <% pic = SpacePicture.find_by(:space_id => space.id) %>
        <% if pic.present? %>
        <td><%= link_to space do%>
          <%= image_tag pic.image, :class => "pic_index" %>
          <% end %>
        </td>
        <% else %>
        <td>No Picture</td>
        <% end %>
        <td><%= space.name %></td>
        <td><%= space.category %></td>
        <td><%= space.size %></td>
        <%= house = Home.find_by(:id => space.home_id) %>
        <% if house.present? %>
        <td><%= house.name %></td>
        <% else %>
        <td>No House Name</td>
        <% end %>
        <td><%= space.space_vote_tally %></td>
        <td>
             <% if current_user.present? %>
          <%= form_tag space_votes_url, :class => "form-horizontal" do %>
            <%= hidden_field_tag :space_id, space.id %>
            <%= hidden_field_tag :user_id, current_user.id %>

            <%= button_tag '<i class="icon-thumbs-up"></i>'.html_safe, :class => "btn btn-success" %>
          <% end %>
        <% end %>
      </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Space', new_space_path %>
