<%= form_for(@home_picture) do |f| %>
  <% if @home_picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@home_picture.errors.count, "error") %> prohibited this home_picture from being saved:</h2>

      <ul>
      <% @home_picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :home_id %><br>
    <%= f.collection_select :home_id, Home.all.order("name ASC"), :id, :name, :prompt => "Select a Home" %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
