<li>


   <h4><%= home.name %></h4>
   <%= home.city%>,<%= home.state %>  <%= link_to "Edit Home", edit_home_url(home.id), :class => "btn-info btn-xs" %>  <%= link_to "Add New Space", new_space_url, :class => "btn-info btn-xs" %>

  </li>
