<h1>Listing homes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>User</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Votes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <% pic = HomePicture.find_by(:id => home.id) %>
        <% if pic.present? %>
        <td><%= image_tag pic.source %></td>
        <% else %>
         <td>No Picture</td>
        <% end %>
        <td><%= home.name %></td>
        <% person = User.find_by(:id => home.user_id) %>
        <td><%= person.first_name %> <%= person.last_name %></td>
        <td><%= home.city %></td>
        <td><%= home.state %></td>
        <td><%= home.country %></td>
        <td><%= home.vote_tally %></td>
        <td>
        <% if current_user.present? %>
          <%= form_tag votes_url, :class => "form-horizontal" do %>
            <%= hidden_field_tag :home_id, home.id %>
            <%= hidden_field_tag :user_id, current_user.id %>

            <%= button_tag '<i class="icon-thumbs-up"></i>'.html_safe, :class => "btn btn-success" %>
          <% end %>
        <% end %>
      </td
        <td><%= link_to 'Show', home %></td>
        <td><%= link_to 'Edit', edit_home_path(home) %></td>
        <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Home', new_home_path %>
