<h1>Listing homes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>User</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <% pic = HomePicture.find_by(:id => home.id) %>
        <td><%= image_tag pic.source %></td>
        <td><%= home.name %></td>
        <% person = User.find_by(:id => home.user_id) %>
        <td><%= person.first_name %> <%= person.last_name %></td>
        <td><%= home.city %></td>
        <td><%= home.state %></td>
        <td><%= home.country %></td>
        <td><%= link_to 'Show', home %></td>
        <td><%= link_to 'Edit', edit_home_path(home) %></td>
        <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Home', new_home_path %>
