<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cddec</title>

  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    "application", :media => "all" %>

  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "CrowdDecor", root_url, :class => "navbar-brand" %>
      </div>
      <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
          <% if current_user.present? %>
          <li><%= link_to "#{current_user.email}", user_url(current_user.id) %></li>
          <li><%= link_to "Sign Out", sessions_url, method: 'delete' %></li>
          <% else %>
          <li><%= link_to "Sign In", new_session_url %></li>
          <% end %>
          <li><%= link_to "Homes", homes_url %></li>
          <li><%= link_to "owners", users_url %></li>
          <li><%= link_to "Spaces and Rooms", spaces_url %></li>
          <li><%= link_to "Pictures", space_pictures_url %></li>
          <li><%= link_to "Thoughts", thoughts_url %></li>


          <%= form_tag homes_url, method: 'get', class: 'navbar-form navbar-left' do %>
            <%= text_field_tag :search_home_city, "", class: 'search-query', placeholder: 'Search homes by city...' %>
          <% end %>
          <%= form_tag users_url, method: 'get', class: 'navbar-form navbar-left' do %>
            <%= text_field_tag :search_user_name, "", class: 'search-query', placeholder: 'Search owners by last name...' %>
          <% end %>
          <%= form_tag spaces_url, method: 'get', class: 'navbar-form navbar-left' do %>
            <%= text_field_tag :search_space_name, "", class: 'search-query', placeholder: 'Search spaces by type...' %>
          <% end %>
        </ul>
      </div>
      </div>
    </div>
  </div>
<div class="container">
   <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">&times;</a>
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>

  </div>

</body>
</html>
